html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: aliceblue;
}

.container {
    max-width: 1200px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    margin: 0 auto;
    padding: 3% 5%;
}

img {
    width: 20%;
    margin: 2%;
    height: auto;
}

#search {
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 16pt;
    height: 2em;
}


.no-results {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (max-width: 480px) {

    .container {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

    }
    img {
        margin: 2% auto;
        width: 100%;
    }

    #search {
        width: 100%;
    }
}